.contact {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px 50px 0 50px;
    min-height: 100vh;
    width: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 75%, #000 100%), url("../assets/img/bg-signup.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.c {
    font-family: 'Varela Round', sans-serif;
    font-weight: bold;
    color: #333;
    text-align: center;
}

.contact h1 {
    text-align: right;
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    color: var(--links);
    margin-bottom: 30px;
    z-index: 2;
}

.contact span {
    color: var(--hover);
}

.contact hr {
    border: 1px solid var(--hover);
}

.container {
    width: 100%;
}

.section {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    width: 100%;
    min-height: 700px;
}

.aside {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.aside h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 5rem;
    color: #eee;
    font-family: 'Varela Round', sans-serif;
    margin: 30px 0;
}

.icon_large {
    margin-left: 50px;
    transform: scale(3.5);
    font-size: 5rem;
}

.contact form {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 70vw;
    margin-bottom: 50px;
}

.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 60%;
    position: relative;
    border-radius: var(--bd-radius);
    border: 3px solid var(--hover);
    transition: all 0.3s ease;
}

.email:hover {
    border: 3px solid var(--links);
    transform: scale(1.02);
}

.email input {
    cursor: pointer;
    color: var(--links);
    padding: 0 10px;
    font-weight: bold;
    font-size: 1rem;
    letter-spacing: 1px;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    outline: none;
    transition: all 0.3s ease;
    z-index: 100;
}

.email input:focus+label,
.email input:valid+label {
    background-color: var(--bg);
    top: -18px;
    font-size: 0.7rem;
}

.input_email input:valid,
.input_email input:focus {
    outline: none;
    border: 1px solid green;
}

.email input:hover {
    cursor: pointer;
    outline: none;
}

.email label {
    color: var(--links);
    position: absolute;
    top: 13px;
    left: 10px;
    transition: all 0.3s ease;
}

.contact form button {
    padding: 0 1rem;
    font-weight: bold;
    color: var(--hover);
    border-radius: var(--bd-radius);
    background-color: transparent;
    border: 3px solid var(--links);
    transition: all 0.3s ease;
    animation: pulse 4s infinite;
}

.contact form button:hover {
    transform: scale(1.02);
    cursor: pointer;
    color: var(--links);
    border: 3px solid var(--hover);
    animation: none;
}

.success {
    color: green;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    font-size: 0.7rem;
    animation: fadeIn 1.5s;
    transition: all 0.3s ease;
}

.error {
    /* min-width: 10px; */
    color: red;
    letter-spacing: 1px;
    font-family: 'Varela Round', sans-serif;
    font-weight: bolder;
    font-size: 0.7rem;
    animation: shaker 0.3s;
    transition: all 0.3s ease;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 3rem;
    padding: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 1rem;
    align-items: center;
    width: 230px;
    height: 160px;
    color: var(--hover);
    background-color: #eee;
    border-radius: var(--bd-radius) var(--bd-radius) 0 0;
    border-bottom: 7px solid var(--hover);
}

.card a {
    color: var(--hover-b);
    text-decoration: none;
    animation: pulse 4s infinite;
}

.card a,
.card p {
    font-size: 0.9rem;
    font-weight: bold;
}

.card hr {
    color: var(--hover);
    height: 1px;
    width: 90px;
}

@media (max-width: 767px) {
    .container {
        width: 90vw;
        padding: 0 10px;
    }

    .aside h2 {
        font-size: 3rem;
        margin-bottom: 40px;
    }

    .icon_large {
        transform: scale(2.5);
    }

    form {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .email {
        width: 100%;
        height: 40px;
    }

    .email label {
        top: 8px;
    }

    .contact form button {
        width: 60%;
        height: 40px;
    }

    .c {
        font-size: 0.8rem;
        color: var(--links);
        margin: 30px 0;
    }

}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    30% {
        transform: scale(0.95);
    }

    50% {
        transform: scale(1);
    }

    70% {
        transform: scale(0.95);
    }

    100% {
        transform: scale(1);
    }
}

@keyframes shaker {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}