.projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 50px 0 50px;
    min-height: 100vh;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(to top, #000 0%, rgba(0, 0, 0, 0.9) 75%, rgba(0, 0, 0, 0.8) 100%);
}

.projects h1 {
    font-size: 3rem;
    font-family: 'Varela Round', sans-serif;
    color: var(--links);
    margin-bottom: 30px;
    text-align: right;
    z-index: 2;
}

.projects span {
    color: var(--hover);
}

.projects hr {
    border: 1px solid var(--hover);
}

.container {
    width: 100%;
    margin-bottom: 50px;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    gap: 2rem;
    width: 100%;
    height: 100%;
    min-height: 700px;
}

.project {
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 300px;
    border-radius: 10px;
    padding: 0 1rem;
    border: 1px solid var(--links);
    transition: all 0.3s ease;
    box-shadow: 0px 0px 10px 1px var(--links);
}

.project:hover {
    transform: scale(1.1);
    border: 1px solid var(--hover);
    box-shadow: 0px 0px 10px 1px var(--hover-b);
}

.project img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 16 / 9;
}

.project img,
.project h4,
.project h6,
.project p {
    margin-bottom: 2px;
}

.project h6 {
    color: var(--hover-b);
}

.project p {
    margin-top: 9px;
    letter-spacing: 1px;
    line-height: 15px;
    font-size: 0.75rem;
}

.project p a {
    color: var(--links);
    text-decoration: none;
}

@media (max-width: 1170px) {
    .wrapper {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 900px) {
    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 767px) {
    .container {
        width: 90vw;
        padding: 0 10px;
    }

    .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 580px) {
    .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1100px;
    }
}