@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500&family=Roboto:wght@100;300;400;500;700&family=Rubik:wght@300;400;500;600;700&family=Ubuntu:wght@300;400;500;700&family=Varela+Round&display=swap');

:root {
  --main-txt: #ffe9d2;
  --about-txt: #b5b5b5;
  --hover: #470864;
  --hover-b: #a526e1;
  --links: #ffda21;
  --bd-radius: 10px;
  --bt-shadow: 0px 0px 4px 0px #ffda21;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-padding-top: 65px;
}

body {
  background-color: var(--bg);
  color: var(--main-txt);
  font-family: 'Rubik', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::selection {
  background-color: var(--links);
  color: var(--hover);
}
